@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
  font-family: 'Inter', 'Langar', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /* font-size: 1rem; */
  scroll-behavior: smooth;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

p:last-child {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  line-height: 1.25rem;
}

p a {
  color: #509A23; 
  text-decoration: none; 
  font-weight: 500;
  text-decoration-style:wavy;
}


p a:hover {
  color: #509A23; 
  text-decoration: underline; 
}

.venue-text {
  font-weight: 600;
  font-style: italic;
  color: #333;
}

.bullet-point::before {
  content: '• '; 
  margin-right: 0.1em;
}

.news-item {
  margin: 6px 0;
}

.news-item::before {
  content: '• '; 
  margin-right: 0.1em;
}

.prior {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500;
}

.med-link {
    font-weight: 600;
    color: #333;
    text-decoration: underline;
    text-decoration-style:wavy;
}


section {
  margin: 60px 0;
}

section:first-of-type {
  margin-top: 30px;
}


.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


.sidebar {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  /* flex: 1; */
  background-color: #fff;
  padding-top: 6vh;
  margin-left: 8vw;

  position: sticky;
  top: 0;
  /* height: fit-content; */
}

.main-content {
  /* flex: 3 1 0%;  */
  flex: 1;
  min-width: 0; 
  padding: 20px;
  margin-right: 20vw;
  margin-left: 4vw;
  margin-top: 5vh;
  margin-bottom: 2vh;

  overflow-wrap: anywhere;
  word-break: break-word;
}

button {
  appearance: none;
  background-color: rgba(80, 154, 35, 0);
  border: 1px solid rgba(80, 154, 35, 0);
  border-radius: 6px;
  /* box-shadow: rgba(80, 154, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  list-style: none;
  margin: 5px 0;
  padding: 4px 0px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

button:hover {
  background-color: rgba(80, 154, 35, 0.1);
  text-decoration: none;
  transition-duration: 0.1s;
}

button:focus {
  outline: 1px transparent;
}

/* Responsive Styles */
@media (max-width: 84rem) {
  .main-content { margin-right: 10vw;}
}

@media (max-width: 64rem) {
  .container { flex-direction: column; padding: 0 1vw;}
  .sidebar { margin-left: 0; padding-top: 2vh; align-items: center; }
  .main-content { margin: 2vh 0; padding: 10px; }
  .section { margin: 40px 0; }
}